<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>794012471920-5bbk5qhvjq4en7re898bj4kve551ousi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.794012471920-5bbk5qhvjq4en7re898bj4kve551ousi</string>
	<key>API_KEY</key>
	<string>AIzaSyB5KttoiVtP_yB4z-gxYLG8hNyZO07Y11Q</string>
	<key>GCM_SENDER_ID</key>
	<string>794012471920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swift.ElectricCar</string>
	<key>PROJECT_ID</key>
	<string>electriccard-5b43f</string>
	<key>STORAGE_BUCKET</key>
	<string>electriccard-5b43f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794012471920:ios:a9d28f6a54e367b91c9ab5</string>
</dict>
</plist>